<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; O'Fig 2019 - Toutes les images sont sous Copyright SquareEnix</p>
  </div>
  <!-- /.container -->
</footer>


<%# Only on article view  %>
<% if (current === 'article') { %>
<!-- Review modal -->
<div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        </button>
      </div>
      <div class="modal-body">
        <% let index = 0
           for (const review of reviews) { %>
        <section>
          <h5>
            <%=review.title%> &nbsp;
            <small class="text-muted">
              <% let indexNote = 0;
                while (indexNote < review.note) { %>
                &#9733;
              <% indexNote ++
                }
                while (indexNote < 5) { %>
                &#9734;
              <% indexNote ++
                } %>
            </small>
          </h5>
          <p class="review-author">par <%= review.author %></p>
          <p><%= review.message %></p>
        </section>
        <% index ++ %>
        <% if(index !== reviews.length){ %>
        <hr>
        <% } %>
        <% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
<% } %>
<%# end of footer for article view %>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.15/bootstrap-native-v4.min.js"></script>

</body>

</html>