<div class="col-lg-3">

  <h1 class="my-4">O'Fig</h1>

  <h5>Catégories</h5>
  <div class="list-group">
    <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/gentil">
      Les gentils
      <span class="badge badge-primary badge-pill"><%= locals.gentils %></span>
    </a>
    <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/mechant">
      Les méchants
      <span class="badge badge-primary badge-pill"><%= locals.mechants %></span>
    </a>
    <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/animal">
      Les animaux
      <span class="badge badge-primary badge-pill"><%= locals.animaux %></span>
    </a>
  </div>

</div>