<%- include('partials/header') %>

<!-- Page Content -->
<div class="container container-main">

  <div class="row">

    <%- include ('partials/leftMenu') %>

    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="row">
        <img src="https://img2.freepng.fr/20180517/uke/kisspng-http-404-computer-icons-clip-art-5afe161a542093.5617268715266012423446.jpg" alt="404">

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<%- include('partials/footer') %>